**
!Dockerfile
!90sp2_quartus_free.exe
!scripts
!scripts/extract-quartus.py
!scripts/run-quartus.sh
!tests
!tests/smoke
!tests/smoke/smoke.v
!tests/smoke/smoke.qpf
!tests/smoke/smoke.qsf
!tests/smoke/smoke_ep1k100.qpf
!tests/smoke/smoke_ep1k100.qsf
